<!doctype html>
<html class="no-js" lang="">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<% include ../partials/head-tag %>

<body>
    <!-- Preloader Start Here -->

    <!-- Preloader End Here -->
    <div id="wrapper" class="wrapper bg-ash">

        <!-- Header Menu Area Start Here -->
        <% include ../partials/header %>
        <!-- Header Menu Area End Here -->

        <!-- Page Area Start Here -->
        <div class="dashboard-page-one">
            <!-- Sidebar Area Start Here -->
            <% include ../partials/sidebar %>
            <!-- Sidebar Area End Here -->
            <div class="dashboard-content-one">
                <!-- Breadcubs Area Start Here -->
                <div class="breadcrumbs-area">
                    <h3>Students</h3>
                    <ul>
                        <li>
                            <a href="/teachers">Home</a>
                        </li>
                        <li>All Students</li>
                    </ul>
                </div>
                <!-- Breadcubs Area End Here -->
                <!-- Teacher Table Area Start Here -->
                <div class="card height-auto">
                    <div class="card-body">
                        <div class="heading-layout1">
                            <div class="item-title">
                                <h3>All Students Data</h3>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                    aria-expanded="false">...</a>

                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#"><i
                                            class="fas fa-times text-orange-red"></i>Close</a>
                                    <a class="dropdown-item" href="#"><i
                                            class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                    <a class="dropdown-item" href="#"><i
                                            class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                                </div>
                            </div>
                        </div>
                        <form class="mg-b-20">
                            <div class="row gutters-8">
                                <div class="col-3-xxxl col-xl-3 col-lg-3 col-12 form-group">
                                    <input type="text" placeholder="Search by ID ..." class="form-control">
                                </div>
                                <div class="col-4-xxxl col-xl-4 col-lg-3 col-12 form-group">
                                    <input type="text" placeholder="Search by Name ..." class="form-control">
                                </div>
                                <div class="col-4-xxxl col-xl-3 col-lg-3 col-12 form-group">
                                    <input type="text" placeholder="Search by Phone ..." class="form-control">
                                </div>
                                <div class="col-1-xxxl col-xl-2 col-lg-3 col-12 form-group">
                                    <button type="submit" class="fw-btn-fill btn-gradient-yellow">SEARCH</button>
                                </div>
                            </div>
                        </form>
                        <div class="table-responsive">
                            <table class="table display data-table text-nowrap">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input checkAll">
                                                <label class="form-check-label">ID</label>
                                            </div>
                                        </th>
                                        <th>Photo</th>
                                        <th>Fullname</th>
                                        <th>Pupil ID</th>
                                        <th>Gender</th>
                                        <th>Classname</th>
                                        <th>Parent name</th>
                                        <th>Parent Phone</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(var i = 0; i < students.length; i++){  %>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input">
                                                <label class="form-check-label">#<%= students[i].id %></label>
                                            </div>
                                        </td>
                                        <td class="text-center"><img src="<%= students[i].photo %>" alt="student"></td>
                                        <td><%= students[i].fullname %></td>
                                        <td><%= students[i].student_id %></td>
                                        <td><%= students[i].gender %></td>
                                        <td><%= students[i].classname %></td>
                                        <td><%= students[i].parentName %></td>
                                        <td><%= students[i].parentPhone %></td>
                                        <td>
                                            <div class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                                    aria-expanded="false">
                                                    <span class="flaticon-more-button-of-three-dots"></span>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item"
                                                        href="add-result?std_id=<%= students[i].id %>+std_name=<%= students[i].fullname %>+class_id=<%= students[i].class_id %>"><i
                                                            class="fas fa-list text-dark-pastel-green"></i>Add
                                                        Result</a>
                                                    <a class="dropdown-item"
                                                        href="view-student/<%= students[i].id %>"><i
                                                            class="fas fa-eye text-dark-pastel-green"></i>View</a>
                                                    <a class="dropdown-item"
                                                        href="edit-student/<%= students[i].id %>"><i
                                                            class="fas fa-pen text-orange-peel "></i>Edit</a>
                                                    <a class="dropdown-item"
                                                        href="delete-student/<%= students[i].id %>"><i
                                                            class="fas fa-trash text-orange-red"></i>Delete</a>


                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- List All students Area End Here -->
                <% include ../partials/footer-tag %>
            </div>
        </div>
        <!-- Page Area End Here -->
    </div>
    <!-- jquery-->
    <% include ../partials/js-files %>

</body>

</html>