<!doctype html>
<html class="no-js" lang="">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<% include ../partials/head-tag %>

<body>

    <% const isActive = "student"; %>


    <div id="wrapper" class="wrapper bg-ash">

        <!-- Header Menu Area Start Here -->
        <% include ../partials/header %>
        <!-- Header Menu Area End Here -->

        <!-- Page Area Start Here -->
        <div class="dashboard-page-one">
            <!-- Sidebar Area Start Here -->
            <% include ../partials/sidebar %>
            <!-- Sidebar Area End Here -->
            <div class="dashboard-content-one">
                <!-- Breadcubs Area Start Here -->
                <div class="breadcrumbs-area">
                    <h3>Result</h3>
                    <ul>
                        <li>
                            <a href="/teachers">Home</a>
                        </li>
                        <li>
                            <a href="/teachers/result-sheet/<%= studentId%>">Result Sheet</a>
                        </li>
                        <li> Edit Result</li>
                    </ul>
                </div>
                <!-- Breadcubs Area End Here -->
                <!-- Add Result Result Area Start Here -->
                <div class="card height-auto">
                    <div class="card-body">
                        <div class="heading-layout1">
                            <div class="item-title">
                                <h3>
                                    Edit Result
                                </h3>
                            </div>
                        </div>

                        <div class="dismiss-alart">
                            <% include ../partials/message %>
                        </div>
                        <br>
                        <!-- THE BASI INFO  -->


                        <form id="add-result" enctype="multipart/form-data" method="POST" action="<%= result.id %>"
                            class="new-added-form">
                            <div class="row">

                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Student Class</label>
                                    <select name="classname" class="select2" required>
                                        <option value="">Please a Classroom *</option>
                                        <% classrooms.forEach(function (classroom, index, arr){ %>
                                        <option value="<%= classroom.name %>"
                                            <%= (typeof result !== 'undefined'  && result.classname == classroom.name ) ? selected="selected" : ''  %>>
                                            <%= classroom.name %>
                                        </option>
                                        <%}); %>
                                    </select>
                                </div>

                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Academic TERM</label>
                                    <select name="term" class="select2" required>
                                        <option value="">Please Select TERM *</option>
                                        <option value="1st term"
                                            <%= (typeof result !== 'undefined'  && result.term === '1st term' ) ? selected="selected" : ''  %>>
                                            1st Term</option>
                                        <option value="2nd term"
                                            <%= (typeof result !== 'undefined'  && result.term === '2nd term' ) ? selected="selected" : ''  %>>
                                            2nd Term</option>
                                        <option value="3rd term"
                                            <%= (typeof result !== 'undefined'  && result.term === '3rd term' ) ? selected="selected" : ''  %>>
                                            3rd Term</option>
                                    </select>
                                </div>

                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Academic Session</label>
                                    <input type="text" autocomplete="off" name="session" placeholder="2001/2002"
                                        value="<%= (typeof result !== 'undefined'  && result.session ) ? result.session : ''  %>"
                                        class="form-control">
                                </div>


                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label> Date of entry *</label>
                                    <input type="text" name="date" placeholder="dd/mm/yyyy"
                                        class="form-control air-datepicker" data-position="bottom right" required
                                        value="<%= (typeof result !== 'undefined'  && result.date ) ? result.date : ''  %>">
                                    <i class="far fa-calendar-alt"></i>
                                </div>


                                <div class="col-lg-4 col-12 form-group mg-t-30">

                                    <label class="text-dark-medium">Student Result (PDF only) *</label>
                                    <input id="result" name="result" type="file" class="form-control-file"
                                        accept="application/pdf">

                                    <br>
                                    <br>
                                    <a target="_blank" href="<%= result.result %>">
                                        View result Here
                                    </a>
                                </div>



                                <div class=" col-12 form-group mg-t-8">
                                    <button type="submit"
                                        class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>
                                    <button type="reset"
                                        class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>
                                </div>

                            </div>
                        </form>


                    </div>
                </div>
                <!-- Results Sheet Area End Here -->
                <% include ../partials/footer-tag %>
            </div>
        </div>
        <!-- Page Area End Here -->
    </div>
    <!-- jquery-->
    <% include ../partials/js-files %>

</body>

</html>