<!doctype html>
<html class="no-js" lang="">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<% include ../partials/head-tag %>

<body>
    <% const isActive = "student"; %>


    <div id="wrapper" class="wrapper bg-ash">

        <!-- Header Menu Area Start Here -->
        <% include ../partials/header %>
        <!-- Header Menu Area End Here -->

        <!-- Page Area Start Here -->
        <div class="dashboard-page-one">
            <!-- Sidebar Area Start Here -->
            <% include ../partials/sidebar %>
            <!-- Sidebar Area End Here -->
            <div class="dashboard-content-one">
                <!-- Breadcubs Area Start Here -->
                <div class="breadcrumbs-area">
                    <h3>Students</h3>
                    <ul>
                        <li>
                            <a href="/teachers">Home</a>
                        </li>
                        <li>Update Students</li>
                    </ul>
                </div>
                <!-- Breadcubs Area End Here -->
                <!-- Update Students Area Start Here -->
                <div class="card height-auto">
                    <div class="card-body">
                        <div class="heading-layout1">
                            <div class="item-title">
                                <h3>Update Students</h3>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                    aria-expanded="false">...</a>

                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#"><i
                                            class="fas fa-times text-orange-red"></i>Close</a>
                                    <a class="dropdown-item" href="#"><i
                                            class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                    <a class="dropdown-item" href="#"><i
                                            class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                                </div>
                            </div>


                        </div>
                        <div class="dismiss-alart">
                            <% include ../partials/message %>
                        </div>
                        <br>
                        <!-- THE BASIC STUDENT INFO  -->
                        <div class="col-xl-12 col-lg-12 col-12 mt-20">
                            <div class="heading-layout1">
                                <div class="item-title">
                                    <h4>Basic Student Info</h4>
                                </div>
                            </div>
                        </div>
                        <form enctype="multipart/form-data" method="POST" action="<%= student.id %>"
                            class="new-added-form">
                            <div class="row">
                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>First Name *</label>
                                    <input type="text" name="firstname" placeholder="First Name" class="form-control"
                                        value="<%= (typeof student !== 'undefined'  && student.firstname ) ? student.firstname : ''  %>"
                                        required>
                                </div>

                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Middle Name </label>
                                    <input type="text" name="middlename" placeholder="Middle Name" class="form-control"
                                        value="<%= (typeof student !== 'undefined'  && student.middlename ) ? student.middlename : ''  %>">
                                </div>

                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Last Name *</label>
                                    <input type="text" name="lastname" placeholder="Last name" class="form-control"
                                        required
                                        value="<%= (typeof student !== 'undefined'  && student.lastname ) ? student.lastname : ''  %>">
                                </div>

                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Gender *</label>
                                    <select name="gender" class="select2" required>

                                        <option value="">Please Select Gender * </option>
                                        <option value="male"
                                            <%= (typeof student !== 'undefined'  && student.gender === 'male' ) ? selected="selected" : ''  %>>
                                            Male</option>
                                        <option value="female"
                                            <%= (typeof student !== 'undefined'  && student.gender === 'memale' ) ? selected="selected" : ''  %>>
                                            Female</option>

                                    </select>
                                </div>

                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Date Of Birth *</label>
                                    <input name="dob" type="text" placeholder="dd/mm/yyyy"
                                        class="form-control air-datepicker" data-position="bottom right" required
                                        value="<%= (typeof student !== 'undefined'  && student.dob ) ? student.dob : ''  %>">
                                    <i class="far fa-calendar-alt"></i>
                                </div>

                                <div class="col-xl-6 col-lg-6 col-12 form-group">
                                    <label> Parent Address *</label>
                                    <input type="text" name="address" placeholder="House Address" class="form-control"
                                        required
                                        value="<%= (typeof student !== 'undefined'  && student.address ) ? student.address : ''  %>">
                                </div>


                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label> Nationailty *</label>
                                    <select name="nationality" class="select2" required>
                                        <option>Please Select Country *</option>
                                        <option selected="selected" value="Nigeria">Nigeria</option>
                                        <option>----------</option>
                                        <option value="Afganistan">Afghanistan</option>
                                        <option value="Albania">Albania</option>
                                        <option value="Algeria">Algeria</option>
                                        <option value="American Samoa">American Samoa</option>
                                        <option value="Andorra">Andorra</option>
                                        <option value="Angola">Angola</option>
                                        <option value="Anguilla">Anguilla</option>
                                        <option value="Antigua & Barbuda">Antigua & Barbuda</option>
                                        <option value="Argentina">Argentina</option>
                                        <option value="Armenia">Armenia</option>
                                        <option value="Aruba">Aruba</option>
                                        <option value="Australia">Australia</option>
                                        <option value="Austria">Austria</option>
                                        <option value="Azerbaijan">Azerbaijan</option>
                                        <option value="Bahamas">Bahamas</option>
                                        <option value="Bahrain">Bahrain</option>
                                        <option value="Bangladesh">Bangladesh</option>
                                        <option value="Barbados">Barbados</option>
                                        <option value="Belarus">Belarus</option>
                                        <option value="Belgium">Belgium</option>
                                        <option value="Belize">Belize</option>
                                        <option value="Benin">Benin</option>
                                        <option value="Bermuda">Bermuda</option>
                                        <option value="Bhutan">Bhutan</option>
                                        <option value="Bolivia">Bolivia</option>
                                        <option value="Bonaire">Bonaire</option>
                                        <option value="Bosnia & Herzegovina">Bosnia & Herzegovina</option>
                                        <option value="Botswana">Botswana</option>
                                        <option value="Brazil">Brazil</option>
                                        <option value="British Indian Ocean Ter">British Indian Ocean Ter</option>
                                        <option value="Brunei">Brunei</option>
                                        <option value="Bulgaria">Bulgaria</option>
                                        <option value="Burkina Faso">Burkina Faso</option>
                                        <option value="Burundi">Burundi</option>
                                        <option value="Cambodia">Cambodia</option>
                                        <option value="Cameroon">Cameroon</option>
                                        <option value="Canada">Canada</option>
                                        <option value="Canary Islands">Canary Islands</option>
                                        <option value="Cape Verde">Cape Verde</option>
                                        <option value="Cayman Islands">Cayman Islands</option>
                                        <option value="Central African Republic">Central African Republic</option>
                                        <option value="Chad">Chad</option>
                                        <option value="Channel Islands">Channel Islands</option>
                                        <option value="Chile">Chile</option>
                                        <option value="China">China</option>
                                        <option value="Christmas Island">Christmas Island</option>
                                        <option value="Cocos Island">Cocos Island</option>
                                        <option value="Colombia">Colombia</option>
                                        <option value="Comoros">Comoros</option>
                                        <option value="Congo">Congo</option>
                                        <option value="Cook Islands">Cook Islands</option>
                                        <option value="Costa Rica">Costa Rica</option>
                                        <option value="Cote DIvoire">Cote DIvoire</option>
                                        <option value="Croatia">Croatia</option>
                                        <option value="Cuba">Cuba</option>
                                        <option value="Curaco">Curacao</option>
                                        <option value="Cyprus">Cyprus</option>
                                        <option value="Czech Republic">Czech Republic</option>
                                        <option value="Denmark">Denmark</option>
                                        <option value="Djibouti">Djibouti</option>
                                        <option value="Dominica">Dominica</option>
                                        <option value="Dominican Republic">Dominican Republic</option>
                                        <option value="East Timor">East Timor</option>
                                        <option value="Ecuador">Ecuador</option>
                                        <option value="Egypt">Egypt</option>
                                        <option value="El Salvador">El Salvador</option>
                                        <option value="Equatorial Guinea">Equatorial Guinea</option>
                                        <option value="Eritrea">Eritrea</option>
                                        <option value="Estonia">Estonia</option>
                                        <option value="Ethiopia">Ethiopia</option>
                                        <option value="Falkland Islands">Falkland Islands</option>
                                        <option value="Faroe Islands">Faroe Islands</option>
                                        <option value="Fiji">Fiji</option>
                                        <option value="Finland">Finland</option>
                                        <option value="France">France</option>
                                        <option value="French Guiana">French Guiana</option>
                                        <option value="French Polynesia">French Polynesia</option>
                                        <option value="French Southern Ter">French Southern Ter</option>
                                        <option value="Gabon">Gabon</option>
                                        <option value="Gambia">Gambia</option>
                                        <option value="Georgia">Georgia</option>
                                        <option value="Germany">Germany</option>
                                        <option value="Ghana">Ghana</option>
                                        <option value="Gibraltar">Gibraltar</option>
                                        <option value="Great Britain">Great Britain</option>
                                        <option value="Greece">Greece</option>
                                        <option value="Greenland">Greenland</option>
                                        <option value="Grenada">Grenada</option>
                                        <option value="Guadeloupe">Guadeloupe</option>
                                        <option value="Guam">Guam</option>
                                        <option value="Guatemala">Guatemala</option>
                                        <option value="Guinea">Guinea</option>
                                        <option value="Guyana">Guyana</option>
                                        <option value="Haiti">Haiti</option>
                                        <option value="Hawaii">Hawaii</option>
                                        <option value="Honduras">Honduras</option>
                                        <option value="Hong Kong">Hong Kong</option>
                                        <option value="Hungary">Hungary</option>
                                        <option value="Iceland">Iceland</option>
                                        <option value="Indonesia">Indonesia</option>
                                        <option value="India">India</option>
                                        <option value="Iran">Iran</option>
                                        <option value="Iraq">Iraq</option>
                                        <option value="Ireland">Ireland</option>
                                        <option value="Isle of Man">Isle of Man</option>
                                        <option value="Israel">Israel</option>
                                        <option value="Italy">Italy</option>
                                        <option value="Jamaica">Jamaica</option>
                                        <option value="Japan">Japan</option>
                                        <option value="Jordan">Jordan</option>
                                        <option value="Kazakhstan">Kazakhstan</option>
                                        <option value="Kenya">Kenya</option>
                                        <option value="Kiribati">Kiribati</option>
                                        <option value="Korea North">Korea North</option>
                                        <option value="Korea Sout">Korea South</option>
                                        <option value="Kuwait">Kuwait</option>
                                        <option value="Kyrgyzstan">Kyrgyzstan</option>
                                        <option value="Laos">Laos</option>
                                        <option value="Latvia">Latvia</option>
                                        <option value="Lebanon">Lebanon</option>
                                        <option value="Lesotho">Lesotho</option>
                                        <option value="Liberia">Liberia</option>
                                        <option value="Libya">Libya</option>
                                        <option value="Liechtenstein">Liechtenstein</option>
                                        <option value="Lithuania">Lithuania</option>
                                        <option value="Luxembourg">Luxembourg</option>
                                        <option value="Macau">Macau</option>
                                        <option value="Macedonia">Macedonia</option>
                                        <option value="Madagascar">Madagascar</option>
                                        <option value="Malaysia">Malaysia</option>
                                        <option value="Malawi">Malawi</option>
                                        <option value="Maldives">Maldives</option>
                                        <option value="Mali">Mali</option>
                                        <option value="Malta">Malta</option>
                                        <option value="Marshall Islands">Marshall Islands</option>
                                        <option value="Martinique">Martinique</option>
                                        <option value="Mauritania">Mauritania</option>
                                        <option value="Mauritius">Mauritius</option>
                                        <option value="Mayotte">Mayotte</option>
                                        <option value="Mexico">Mexico</option>
                                        <option value="Midway Islands">Midway Islands</option>
                                        <option value="Moldova">Moldova</option>
                                        <option value="Monaco">Monaco</option>
                                        <option value="Mongolia">Mongolia</option>
                                        <option value="Montserrat">Montserrat</option>
                                        <option value="Morocco">Morocco</option>
                                        <option value="Mozambique">Mozambique</option>
                                        <option value="Myanmar">Myanmar</option>
                                        <option value="Nambia">Nambia</option>
                                        <option value="Nauru">Nauru</option>
                                        <option value="Nepal">Nepal</option>
                                        <option value="Netherland Antilles">Netherland Antilles</option>
                                        <option value="Netherlands">Netherlands (Holland, Europe)</option>
                                        <option value="Nevis">Nevis</option>
                                        <option value="New Caledonia">New Caledonia</option>
                                        <option value="New Zealand">New Zealand</option>
                                        <option value="Nicaragua">Nicaragua</option>
                                        <option value="Niger">Niger</option>
                                        <option value="Nigeria">Nigeria</option>
                                        <option value="Niue">Niue</option>
                                        <option value="Norfolk Island">Norfolk Island</option>
                                        <option value="Norway">Norway</option>
                                        <option value="Oman">Oman</option>
                                        <option value="Pakistan">Pakistan</option>
                                        <option value="Palau Island">Palau Island</option>
                                        <option value="Palestine">Palestine</option>
                                        <option value="Panama">Panama</option>
                                        <option value="Papua New Guinea">Papua New Guinea</option>
                                        <option value="Paraguay">Paraguay</option>
                                        <option value="Peru">Peru</option>
                                        <option value="Phillipines">Philippines</option>
                                        <option value="Pitcairn Island">Pitcairn Island</option>
                                        <option value="Poland">Poland</option>
                                        <option value="Portugal">Portugal</option>
                                        <option value="Puerto Rico">Puerto Rico</option>
                                        <option value="Qatar">Qatar</option>
                                        <option value="Republic of Montenegro">Republic of Montenegro</option>
                                        <option value="Republic of Serbia">Republic of Serbia</option>
                                        <option value="Reunion">Reunion</option>
                                        <option value="Romania">Romania</option>
                                        <option value="Russia">Russia</option>
                                        <option value="Rwanda">Rwanda</option>
                                        <option value="St Barthelemy">St Barthelemy</option>
                                        <option value="St Eustatius">St Eustatius</option>
                                        <option value="St Helena">St Helena</option>
                                        <option value="St Kitts-Nevis">St Kitts-Nevis</option>
                                        <option value="St Lucia">St Lucia</option>
                                        <option value="St Maarten">St Maarten</option>
                                        <option value="St Pierre & Miquelon">St Pierre & Miquelon</option>
                                        <option value="St Vincent & Grenadines">St Vincent & Grenadines</option>
                                        <option value="Saipan">Saipan</option>
                                        <option value="Samoa">Samoa</option>
                                        <option value="Samoa American">Samoa American</option>
                                        <option value="San Marino">San Marino</option>
                                        <option value="Sao Tome & Principe">Sao Tome & Principe</option>
                                        <option value="Saudi Arabia">Saudi Arabia</option>
                                        <option value="Senegal">Senegal</option>
                                        <option value="Seychelles">Seychelles</option>
                                        <option value="Sierra Leone">Sierra Leone</option>
                                        <option value="Singapore">Singapore</option>
                                        <option value="Slovakia">Slovakia</option>
                                        <option value="Slovenia">Slovenia</option>
                                        <option value="Solomon Islands">Solomon Islands</option>
                                        <option value="Somalia">Somalia</option>
                                        <option value="South Africa">South Africa</option>
                                        <option value="Spain">Spain</option>
                                        <option value="Sri Lanka">Sri Lanka</option>
                                        <option value="Sudan">Sudan</option>
                                        <option value="Suriname">Suriname</option>
                                        <option value="Swaziland">Swaziland</option>
                                        <option value="Sweden">Sweden</option>
                                        <option value="Switzerland">Switzerland</option>
                                        <option value="Syria">Syria</option>
                                        <option value="Tahiti">Tahiti</option>
                                        <option value="Taiwan">Taiwan</option>
                                        <option value="Tajikistan">Tajikistan</option>
                                        <option value="Tanzania">Tanzania</option>
                                        <option value="Thailand">Thailand</option>
                                        <option value="Togo">Togo</option>
                                        <option value="Tokelau">Tokelau</option>
                                        <option value="Tonga">Tonga</option>
                                        <option value="Trinidad & Tobago">Trinidad & Tobago</option>
                                        <option value="Tunisia">Tunisia</option>
                                        <option value="Turkey">Turkey</option>
                                        <option value="Turkmenistan">Turkmenistan</option>
                                        <option value="Turks & Caicos Is">Turks & Caicos Is</option>
                                        <option value="Tuvalu">Tuvalu</option>
                                        <option value="Uganda">Uganda</option>
                                        <option value="United Kingdom">United Kingdom</option>
                                        <option value="Ukraine">Ukraine</option>
                                        <option value="United Arab Erimates">United Arab Emirates</option>
                                        <option value="United States of America">United States of America</option>
                                        <option value="Uraguay">Uruguay</option>
                                        <option value="Uzbekistan">Uzbekistan</option>
                                        <option value="Vanuatu">Vanuatu</option>
                                        <option value="Vatican City State">Vatican City State</option>
                                        <option value="Venezuela">Venezuela</option>
                                        <option value="Vietnam">Vietnam</option>
                                        <option value="Virgin Islands (Brit)">Virgin Islands (Brit)</option>
                                        <option value="Virgin Islands (USA)">Virgin Islands (USA)</option>
                                        <option value="Wake Island">Wake Island</option>
                                        <option value="Wallis & Futana Is">Wallis & Futana Is</option>
                                        <option value="Yemen">Yemen</option>
                                        <option value="Zaire">Zaire</option>
                                        <option value="Zambia">Zambia</option>
                                        <option value="Zimbabwe">Zimbabwe</option>
                                    </select>
                                </div>

                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label> State of Origin *</label>
                                    <select id="states" name="state_origin" class="select2" required>
                                        <option>Please Select a State *</option>
                                        <option value='Abia'>Abia</option>
                                        <option value='Adamawa'>Adamawa</option>
                                        <option value='AkwaIbom'>AkwaIbom</option>
                                        <option value='Anambra'>Anambra</option>
                                        <option value='Bauchi'>Bauchi</option>
                                        <option value='Bayelsa'>Bayelsa</option>
                                        <option value='Benue'>Benue</option>
                                        <option value='Borno'>Borno</option>
                                        <option value='CrossRivers'>CrossRivers</option>
                                        <option selected="selected" value='Delta'>Delta</option>
                                        <option value='Ebonyi'>Ebonyi</option>
                                        <option value='Edo'>Edo</option>
                                        <option value='Ekiti'>Ekiti</option>
                                        <option value='Enugu'>Enugu</option>
                                        <option value='Gombe'>Gombe</option>
                                        <option value='Imo'>Imo</option>
                                        <option value='Jigawa'>Jigawa</option>
                                        <option value='Kaduna'>Kaduna</option>
                                        <option value='Kano'>Kano</option>
                                        <option value='Katsina'>Katsina</option>
                                        <option value='Kebbi'>Kebbi</option>
                                        <option value='Kogi'>Kogi</option>
                                        <option value='Kwara'>Kwara</option>
                                        <option value='Lagos'>Lagos</option>
                                        <option value='Nasarawa'>Nasarawa</option>
                                        <option value='Niger'>Niger</option>
                                        <option value='Ogun'>Ogun</option>
                                        <option value='Ondo'>Ondo</option>
                                        <option value='Osun'>Osun</option>
                                        <option value='Oyo'>Oyo</option>
                                        <option value='Plateau'>Plateau</option>
                                        <option value='Rivers'>Rivers</option>
                                        <option value='Sokoto'>Sokoto</option>
                                        <option value='Taraba'>Taraba</option>
                                        <option value='Yobe'>Yobe</option>
                                        <option value='Zamfara'>Zamafara</option>
                                    </select>
                                </div>

                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label> LGA of Origin *</label>
                                    <input type="text" name="lga_origin" placeholder="Enter a LGA" class="form-control"
                                        required
                                        value="<%= (typeof student !== 'undefined'  && student.lga_origin ) ? student.lga_origin : ''  %>">
                                </div>


                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Home Town *</label>
                                    <input type="text" name="hometown" placeholder="Enter Hometown" class="form-control"
                                        required
                                        value="<%= (typeof student !== 'undefined'  && student.hometown ) ? student.hometown : ''  %>">
                                </div>


                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Religion *</label>
                                    <select name="religion" class="select2" required>
                                        <option value="">Please Select Religion *</option>
                                        <option value="christian"
                                            <%= (typeof student !== 'undefined'  && student.religion === 'christian' ) ? selected="selected" : ''%>>
                                            Christian</option>
                                        <option value="muslim"
                                            <%= (typeof student !== 'undefined'  && student.religion === 'muslim' ) ? selected="selected" : ''%>>
                                            Muslim</option>
                                        <option value="others"
                                            <%= (typeof student !== 'undefined'  && student.religion === 'others' ) ? selected="selected" : ''%>>
                                            Others
                                        </option>
                                    </select>
                                </div>

                                <div class="col-lg-6 col-12 form-group mg-t-30">
                                    <div style="max-width: 200px;" class="item-img">
                                        <img src="<%= student.photo %>" alt="student">
                                    </div>
                                    <label class="text-dark-medium">Upload Student Photo (400px X 400px)
                                        *</label>
                                    <input id="photo" name="photo" type="file" class="form-control-file"
                                        accept="image/png, image/jpg">
                                </div>

                                <!-- THE ACADEMIC DETAILS -->
                                <div class="col-xl-12 col-lg-12 col-12 mt-20">
                                    <div class="heading-layout1">
                                        <div class="item-title">
                                            <h4>Academic details</h4>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Pupil / Student ID *</label>
                                    <input type="text" name="student_id" class="form-control"
                                        placeholder="Enter Student ID"
                                        value="<%= (typeof student !== 'undefined'  && student.student_id ) ? student.student_id : ''  %>"
                                        required>
                                </div>

                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Previous School *</label>
                                    <input type="text" name="previous_school" placeholder="Previous school"
                                        class="form-control" required
                                        value="<%= (typeof student !== 'undefined'  && student.previous_school ) ? student.previous_school : ''  %>">
                                </div>


                                <div class="col-xl-6 col-lg-6 col-12 form-group">
                                    <label>Reason for leaving *</label>
                                    <input type="text" name="reason_for_leaving" placeholder="Reason for leaving"
                                        class="form-control" required
                                        value="<%= (typeof student !== 'undefined'  && student.reason_for_leaving ) ? student.reason_for_leaving : ''  %>">
                                </div>

                                <div class="col-xl-3 col-lg-9 col-12 form-group">
                                    <label>Student Class</label>
                                    <select name="class_id" class="select2" required>
                                        <option value="">Please a Classroom *</option>
                                        <% classrooms.forEach(function (classroom, index, arr){ %>
                                        <option value="<%= classroom.id %>"
                                            <%= (typeof student !== 'undefined'  && student.class_id == classroom.id ) ? selected="selected" : ''  %>>
                                            <%= classroom.name %>
                                        </option>
                                        <%}); %>
                                    </select>
                                </div>



                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Academic TERM</label>
                                    <select name="term" class="select2" required>
                                        <option value="">Please Select TERM *</option>
                                        <option value="1st term"
                                            <%= (typeof student !== 'undefined'  && student.term === '1st term' ) ? selected="selected" : ''  %>>
                                            1st Term</option>
                                        <option value="2nd term"
                                            <%= (typeof student !== 'undefined'  && student.term === '2nd term' ) ? selected="selected" : ''  %>>
                                            2nd Term</option>
                                        <option value="3rd term"
                                            <%= (typeof student !== 'undefined'  && student.term === '3rd term' ) ? selected="selected" : ''  %>>
                                            3rd Term</option>
                                    </select>
                                </div>



                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Academic Session</label>
                                    <input type="text" name="academic_session" placeholder="2001/2002"
                                        value="<%= (typeof student !== 'undefined'  && student.academic_session ) ? student.academic_session : ''  %>"
                                        class="form-control">
                                </div>


                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Date Of Admission *</label>
                                    <input type="text" name="admission_date" placeholder="dd/mm/yyyy"
                                        class="form-control air-datepicker" data-position="bottom right" required
                                        value="<%= (typeof student !== 'undefined'  && student.admission_date ) ? student.admission_date : ''  %>">
                                    <i class="far fa-calendar-alt"></i>
                                </div>


                                <!-- THE PARENT STUDENT INFO  -->
                                <div class="col-xl-12 col-lg-12 col-12 mt-20">
                                    <div class="heading-layout1">
                                        <div class="item-title">
                                            <h4>The Parent Info</h4>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-3 col-lg-9 col-12 form-group">
                                    <label>Parent 1 (Mom) *</label>
                                    <select name="parent_1" class="select2" required>
                                        <option value="">Please a Parent *</option>
                                        <% parents.forEach(function (parent, index, arr){ %>
                                        <option value="<%= parent.id %>"
                                            <%= (typeof student !== 'undefined'  && student.parent_1 == parent.id ) ? selected="selected" : ''  %>>
                                            <%= parent.name %>
                                        </option>
                                        <%}); %>
                                    </select>
                                </div>

                                <div class="col-xl-3 col-lg-9 col-12 form-group">
                                    <label>Parent 2 (Dad)</label>
                                    <select name="parent_2" class="select2">
                                        <option value="">Please a Parent *</option>
                                        <% parents.forEach(function (parent, index, arr){ %>
                                        <option value="<%= parent.id %>"
                                            <%= (typeof student !== 'undefined'  && student.parent_2 == parent.id ) ? selected="selected" : ''  %>>
                                            <%= parent.name %>
                                        </option>
                                        <%}); %>
                                    </select>
                                </div>

                                <div class="col-12 form-group mg-t-8">
                                    <button type="submit"
                                        class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Update</button>
                                    <button type="reset"
                                        class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
                <!-- Update Student Area End Here -->
                <% include ../partials/footer-tag %>
            </div>
        </div>
        <!-- Page Area End Here -->
    </div>
    <!-- jquery-->
    <% include ../partials/js-files %>

</body>

</html>